<form method="POST" enctype="multipart/form-data" class="my-form" action='@Url.Action("AgregarPizzaForm","Home")'>
  <div class="container">
    <h1 class="text-center">Agregar Pizza</h1>
    <ul>
      <li>
        <div class="grid grid-2 mt-4">
          <input type="text" placeholder="Nombre" name="nombre" required>
          <input type="number" placeholder="$0.00" name="precio" required>
        </div>
      </li>
      <li>
        <div class="grid  mt-4">
          <input type="url" name="foto" placeholder="Url de la foto" required>
        </div>
      </li>
      <li>
        <select name="tamano">
          <option name="tamano" hidden selected disabled>-- Tamaño --</option>
          <option name="tamano" value="Chica">Chica </option>
          <option name="tamano" value="Mediana">Mediana</option>
          <option name="tamano" value="Grande">Grande</option>
        </select>
      </li>
      @{
        if (ViewBag.Ingredientes.Count == 0)
        {
          <p class="mt-4">Ups! No hay ingredientes cargados...</p>
        }
        else
        {
          int colSize = 12 / ViewBag.Ingredientes.Count;
          string colText = "col-md-" + colSize;
          if(colSize < 4){colText = "col-md-4";}
          string widthFoto = (80 / ViewBag.Ingredientes.Count) + "%";
            <label>Ingredientes:</label>
            <div class="row justify-content-around mt-4">
          
            @for (int i = 0; i < ViewBag.Ingredientes.Count; i++)
            {
                <li class="@colText text-center">
                    <img src="@ViewBag.Ingredientes[i].Foto" width="@widthFoto" />
                    <p>@ViewBag.Ingredientes[i].Nombre</p>
                    <input type="checkbox" name="ingrediente" value=@i />
                </li>
            }
            </div>
        }
      }
      @if (ViewBag.error)
        {
            <div class="alert alert-warning mt-2 align-items-center" role="alert">
                <p>@ViewBag.mensajeError</p>
            </div>
        }
      <li>
        <div class="grid grid-2">
          <a href='@Url.Action("AgregarIngredientes","Home")'>
            <button type="button" class="btn btn-info mt-2">Agregar ingredientes</button>
          </a>
          <a href='@Url.Action("AgregarPizza","Home")'>
            <button class="btn btn-success mt-2" type="submit" value="Send">Enviar</button>
          </a>
        </div>
      </li>
    </ul>
  </div>
</form>
